.dashboard-card {
    transition: transform .2s;
    cursor: pointer;
}

.dashboard-card:hover {
    transform: scale(1.05);
}

.dashboard-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}
